spring.main.banner-mode=off
logging.level.org.springframework=ERROR
spring.data.mongodb.url=mongodb://localhost:27017/spring-boot-article
spring.data.mongodb.host=localhost
spring.data.mongodb.port=27017
spring.data.mongodb.database=spring-boot-article

spring.elasticsearch.rest.uris=http://localhost:9200
spring.elasticsearch.rest.username=elastic
spring.elasticsearch.rest.password=123456